
.doors-images {
  width: 600px;
  margin-bottom: 20px;
  display: inline-block;
  justify-content: center;
}

.closed-door {
  position: relative;
  width: 180px;
  height: 250px;
}

.closed-door:hover {
  cursor: pointer;
  background-color: rgba(153, 167, 199, 0.78);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

#doors-box {
  width: auto;
}
