

.game-img img {
  position: relative;
  left: 30%;
  width: 80px;
  height: 80px;
}

.game-title {
  text-align: center;
  width: auto;
  height: auto;
  font-size: 30px;
  color: #FFFFFF;
}

h4 {
  margin: 0;
}
